

.main {
    border-bottom: #333 1px solid;
    padding: 30px;
}

.album-header {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: solid 1px #333;
}
.artist-thumb {
    width:100px;
    height: auto;
    float: left;
    margin-right: 50px; 
}

.artist-albums {
    margin-bottom: 20px;
    overflow: auto;
    min-height: 400px;
    
}

.album {

    text-align: center;
    background: #333;
    padding: 10px 20px;
    border: #666 1px solid;

}

.album-thumb {
}
